body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App {
  text-align: center;
}

.video-background {
  /* position: relative;
    width: 100vw;
    height: 100vh; 
    overflow: hidden;selected_box
    z-index: -1; */
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  /* Đặt nền video ở phía sau văn bản */
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Đảm bảo video bao phủ hoàn toàn kích thước của phần tử cha */
}

.content {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  /* Màu chữ của văn bản */
}

.fix_label {
  text-align: center;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fix_center {
  text-align: center;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fix_loading {
  font-size: 23px;
  position: absolute;
  text-align: center;
  align-content: center;
  width: 500px !important;
  top: 43%;
  left: 57%;
  transform: translate(-50%, -50%);
}

.success_game {
  position: absolute;
  text-align: center;
  top: 43%;
  left: 50%;
  /* transform: translate(-50%, -50%); */

}

.selected_box {
  position: absolute;
  bottom: 1%;
  left: 3%;

}

#dropdown {
  width: 30px;
  height: 30px;
  border: none;
  box-sizing: 1 solid red;
}

/* .button_play{
    outline: none;
    width: 220px;
    height: 60px;
    border-radius: 10px;
    font-weight: bold;
    color: yellow;
    background-color: #B21110;
    font-size: 20px;
    top: 80%;
    left: 10%;
  } */
.button_play {
  outline: none;
}


/* RunningText.css */

@keyframes runText {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.running-text-container {
  position: relative;
  height: 300px;
  /* Điều chỉnh chiều cao container theo nhu cầu */
  overflow: hidden;
}

.running-text {
  white-space: nowrap;
  position: absolute;
  animation: runText 0.2s linear infinite;
  /* Thời gian, kiểu chuyển động, và lặp lại */
}

/* 
  .full-screen-background {
    width: 100vw;
    height: 100vh;
    background: url('%PUBLIC_URL%/images/1.jpg') center/cover no-repeat;
    justify-content: center;
    align-items: center;
  } */
.list_checkbox {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
}

.form-check-reverse {
  text-align: left !important;
}

.list-group {
  font-size: 22px;
}

.fix_result {
  /* padding-left: 250px; */
  /* text-align: left;
  margin-left: auto;
  margin-right: auto; */
}

.fix_result1 {
  /* padding-left: 600px; */
  padding-left: 30%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.col_result {
  /* padding-left: 7%; */
  text-align: left;
  margin-right: 10%;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.col_result-1 {
  margin-left: 10%;
  text-align: left;
}